name: Run Flutter Tests

on:
    pull_request:
        branches:
            - develop
            - master

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - uses: actions/setup-java@v1
              with:
                java-version: '13.x'
            - uses: subosito/flutter-action@v1
              with:
                flutter-version: '1.20.4'
            - run: flutter pub get
            - run: flutter test